.Navbar .nav-tabs .nav-link {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: black;
}

.Navbar .nav-tabs .nav-link.active {
    color: blue;
    border: 1px solid white;

    border-bottom: 2px solid blue;
}

.Navbar .nav-tabs .nav-link:hover {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;}

    .navPadding{
        padding: 20px 200px 0;
    }

.pizzaLogo{
    transform: translate(0%, 50%);
    left: 50px;
}