

.sidenav {
    
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid rgba(0,0,0,.1);
  }
  .linkContainer{
    width: 110px;
    margin: 0 auto 0 70px;
  }
  
  .sidenav a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 16px;

    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: black;
    text-decoration: none;
  }
  .sidenav a:focus{
    font-weight: 700;
    color: black;
  }


  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  

  
