
@import '../../Styles/Styles.scss';

.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 6px solid gray;
    position: relative;
    margin: 0 auto;
    .circleText{
        position: absolute;
        text-align: center;
        width: 100%;
        top: calc(50% - 8px);
    }
}   

.success {
    border-color:$success-color;
}
.danger {
    border-color: $danger-color;
}